.interactive-map {
  position: relative;
  max-width: 480px;
}
.interactive-map svg {
  max-width: 100%; }
  .interactive-map svg .map-area {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    fill: #bdc6cf;
    cursor: pointer; }
    .interactive-map svg .map-area:hover {
      fill: #00437b; }
      .interactive-map svg .map-area:hover + .map-point {
        fill: #fff; }
  .interactive-map svg .map-point {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    fill: #00437b; }
    .interactive-map svg .map-point:hover {
      fill: #bdc6cf; }

.tooltip .arrow {
  display: none !important; }

.tooltip-inner {
  background-color: #fff !important; }
  .tooltip-inner h3 {
    color: #4A4A4A;
    font-family: "FedraSansProDemi";
    font-size: 12px !important;
    margin-bottom: 0;
    line-height: 1;
    padding: 7px 15px 5px; }

